<form class="request-op-admin-form">
  <DModalBody @title="topic_op_admin.apply_for_op_admin">
    <section class="reason">
      <h3>
        {{i18n "topic_op_admin.apply_modal.introduce_title"}}
      </h3>
      <p>
        {{i18n "topic_op_admin.apply_modal.what_is"}}
      </p>
      <hr />
    </section>
    <div class="control-group">
      <p>
        {{i18n "topic_op_admin.apply_modal.tell_reason"}}
      </p>

      <Textarea @value={{this.reason}} min-width="500px" min-height="400px" max-height="1000px" resize="both" />
    </div>
  </DModalBody>

  <div class="modal-footer">
    <DButton
      @class="btn-primary"
      @label="groups.membership_request.submit"
      @action={{action model.submit}}
      @disabled={{this.loading}}
    />
    <DModalCancel @close={{route-action "closeModal"}} />
    <ConditionalLoadingSpinner @size="small" @condition={{this.loading}} />
    <div class="dock-right" style="margin-left: auto;margin-right: 0;">
      <DButton
        @class="btn-link"
        @label="topic_op_admin.apply_modal.show_composer"
        @action={{action model.showComposer}}
      />
    </div>
  </div>
</form>