<DModalBody @title="topic_op_admin.admin_modal.title">
  <div class="set-topic-op-admin-status-modal-body">
    <h3>
      {{i18n "topic.title"}}
      {{model.topic.title}}
    </h3>
    <div class="control-group topic-op-admin-status">
      <label>
        {{input id="topic-close-enable" type="checkbox" checked=this.model.enables.close}}
        <span>{{i18n "topic_op_admin.admin_modal.enable_close"}}</span>
      </label>
      <label>
        {{input id="topic-archive-enable" type="checkbox" checked=this.model.enables.archive}}
        <span>{{i18n "topic_op_admin.admin_modal.enable_archive"}}</span>
      </label>
      <label>
        {{input id="topic-slow-mode-enable" type="checkbox" checked=this.model.enables.slow_mode}}
        <span>{{i18n "topic_op_admin.admin_modal.enable_slow_mode"}}</span>
      </label>
      <label>
        {{input id="topic-visible-enable" type="checkbox" checked=this.model.enables.visible}}
        <span>{{i18n "topic_op_admin.admin_modal.enable_visible"}}</span>
      </label>
      <label>
        {{input id="topic-set_timer-enable" type="checkbox" checked=this.model.enables.set_timer}}
        <span>{{i18n "topic_op_admin.admin_modal.enable_set_timer"}}</span>
      </label>
    </div>
    {{#if model.currentUser.staff}}
      <div class="control-group topic-op-admin-status staff">
        <hr />
        <label>
          {{input id="topic-make_PM-enable" type="checkbox" checked=this.model.enables.make_PM}}
          <span>{{i18n "topic_op_admin.admin_modal.enable_make_PM"}}</span>
        </label>
        <label>
          {{input id="topic-silence-enable" type="checkbox" checked=this.model.enables.silence}}
          <span>{{i18n "topic_op_admin.admin_modal.enable_silence"}}</span>
        </label>
      </div>
    {{/if}}
  </div>
</DModalBody>
<div class="modal-footer">
  {{d-button
    label="ok_value"
    icon=inviteIcon
    action=(action model.action.submit)
    class="btn-primary"
    disabled=this.loading
  }}
  <ConditionalLoadingSpinner @size="small" @condition={{this.loading}} />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>