<DModalBody @title="topic_op_admin.silence_user">
  <ConditionalLoadingSpinner @size="large" @condition={{this.loading}}>
    <div class="topic-OP-banned-users-container control-group">
      {{#if this.users}}
        <p>
          {{i18n "topic_op_admin.silence_modal.banned_users"}}
        </p>
        {{mount-widget widget="topic-OP-admin-user-ban" args=this}}
      {{/if}}
    </div>
  </ConditionalLoadingSpinner>

  <p>
    {{i18n "topic_op_admin.silence_modal.banning_users"}}
  </p>
  <div class="input-group">
    <table class="topic-OP-admin-banned-users new-ban">
      <tbody>
        <tr>
          <td>
            {{i18n "topic_op_admin.silence_modal.be_ban_user"}}
          </td>
          <td>
            {{i18n "topic_op_admin.silence_modal.be_ban_time"}}
          </td>
        </tr>
        <tr>
          <td>
            <UserChooser
              class="topic-op-make-silence-user"
              @value={{this.new_ban_users}}
              @options={{hash topicId=model.topic.id}}
            />
          </td>
          <td>
            <Input class="topic-op-silence-time" maxlength="10" @type="number" @value={{this.silence_time}} />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="control-group">
    <p>
      {{i18n "topic_op_admin.reason_modal.tell_reason"}}
    </p>

    <Textarea @value={{this.reason}} min-width="500px" min-height="400px" max-height="1000px" resize="both" />
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary" @label="ok_value" @action={{action model.submit}} @disabled={{this.submitting}} />
  <DModalCancel @close={{route-action "closeModal"}} />
  <ConditionalLoadingSpinner @size="small" @condition={{this.submitting}} />
</div>